@(jotForm: ch.insign.cms.blocks.jotformpageblock.model.JotForm)

@import ch.insign.cms.blocks.jotformpageblock._

<div id="delete-jotform-@jotForm.getId" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> </button>
            <h4 class="modal-title">@Messages("jotform.modal.message.delete.title")</h4>
        </div>
        <div class="modal-body">
            <p>@Messages("jotform.modal.message.delete.content")</p>
            <p><span id="inboundLinks"></span></p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn default" data-dismiss="modal" aria-hidden="true">@Messages("modal.cancel.btn")</button>
            <a href="@ch.insign.cms.blocks.jotformpageblock.controller.routes.JotFormController.delete(jotForm.getId)" class="btn btn-primary" >@Messages("modal.delete.btn")</a>
        </div>
    </div>
</div>
