@(elements: views.html.helper.FieldElements)

<div class="form-group @if(elements.hasErrors) {has-error}">
    <label class="col-lg-3 col-md-3 col-sm-3 control-label" for="@elements.id">@elements.label</label>
    <div class="col-lg-9 col-md-9 col-sm-3">
        @elements.input
        <span class="help-block errors">@elements.errors.mkString(", ")</span>
        <span class="help help-block hide">@elements.infos.mkString(", ")</span>
    </div>
</div>