@import ch.insign.commons.db.MString
@(
        mstring: MString,
        theForm: Form[_],
        formKey: String,
        label: String,
        placeholder: String,
        helperText: String = null,
        width: Integer = 300,
        additionalOptions: Html = Html.apply(""),
        languages: Seq[String] = null
)(implicit handler: views.html.helper.FieldConstructor)

@import ch.insign.cms.models.CMS


<link type="text/css" rel="stylesheet" href="/moxiemanager/skins/lightgray/skin.min.css" />

@if(mstring != null && mstring.getId != null) {
    <input type="hidden" name="@{formKey + ".id"}" value="@{mstring.getId}" />
}

@defining(Option(languages).filter(_.nonEmpty).getOrElse(CMS.getConfig.frontendLanguages.toSeq)) { langs =>
@for(lang <- langs) {
    <div mstring-lang="@lang">
        @helper.input(
            theForm(formKey + "." + lang),
            'id -> (formKey + "_" + lang),
            'name -> (formKey + "." + lang),
            'class -> "form-control",
            '_label -> label,
            'placeholder -> ""
        ) { (id, name, value, args) =>
            <input type="text" id="@id" name="@name" value="@value" @toHtmlArgs(args) style="width: @{width}px;display:inline;" />
            <a class="btn btn-primary moxman-btn-browse" data-input_id="@id" href="#"> Browse </a>
            @if(helperText != null) {
                <span class="help-block">@helperText</span>
            }
            @if(!value.isEmpty && (value.get.toLowerCase.endsWith(".png") || value.get.toLowerCase.endsWith(".gif") || value.get.toLowerCase.endsWith(".jpg") || value.get.toLowerCase.endsWith(".jpeg"))) {
                <span class="help-block">
                    <img src="@value" alt="Vorschau" title="Vorschau" style="max-width: 640px" />
                </span>
            }
        }
    </div>
}}
