@(
        mstring: ch.insign.commons.db.MString,
        theForm: Form[_],
        formKey: String,
        label: String,
        placeholder: String,
        helperText: String = null,
        width: Integer = 300,
        additionalOptions: Html = Html.apply(""))(implicit handler: views.html.helper.FieldConstructor)

@import ch.insign.commons.i18n.Language
@import ch.insign.cms.models.CMS

@* [Optionally]MString input for the file manager named "Responsive" *@
@* ---must be used in couple with fancybox webjar--- *@

@if(mstring != null && mstring.getId != null) {
    <input type="hidden" name="@{formKey + ".id"}" value="@{mstring.getId}" />
}

@* TODO change getAllLanguages() to CMS.getConfig.getFrontEndLanguages() after merging with PLAY-81 *@
@for(lang <- Language.getAllLanguages) {
    <div mstring-lang="@lang">
        @helper.input(
            theForm(formKey + "." + lang),
            'id -> (formKey + "_" + lang),
            'name -> (formKey + "." + lang),
            'class -> "form-control",
            '_label -> label,
            'placeholder -> ""
        ) { (id, name, value, args) =>
            <input type="text" id="@id" name="@name" value="@value" @toHtmlArgs(args) style="width: @{width}px;display:inline;" />
            <a  class="btn btn-primary iframe-btn"
                type="button"
                data-width="900"
                data-height="500"
                href="@{CMS.getConfig.getResponsiveFileManagerUrlPrefix}filemanager/dialog.php?type=0&field_id=@id&relative_url=1"> Browse </a>

            @if(helperText != null) {
                <span class="help-block">@helperText</span>
            }

            @if(value.isDefined && (value.get.toLowerCase.endsWith(".png") || value.get.toLowerCase.endsWith(".gif") || value.get.toLowerCase.endsWith(".jpg") || value.get.toLowerCase.endsWith(".jpeg"))) {
                <span class="help-block">
                    <img src="@value" alt="Vorschau" title="Vorschau" style="max-width: 640px" />
                </span>
            }
        }
    </div>
}
