@(loginForm: Form[_], backUrl: String = "", title: String=play.api.i18n.Messages("login.modal.title"))

@import ch.insign.cms.models.CMS
@import play.api.i18n.Messages;
@import helper._
@import views.html.metronic.constructors.vertical

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        @helper.form(CMS.getRouteResolver.login, 'role -> "form") {
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><span class="glyphicon glyphicon-book"></span> @title</h4>
                </div>
                <div class="modal-body">

                        <div class="login-error alert alert-danger hide"></div>

                        <div class="group-email form-group">
                            @inputText(
                                loginForm("email"),
                                'class -> "form-control ",
                                'placeholder -> Messages("login.modal.email.placeholder"),
                                '_label -> Messages("login.modal.email.label")
                            )
                        </div>

                        <div class="group-password form-group">
                            @inputPassword(
                                loginForm("password"),
                                'class -> "form-control",
                                'placeholder -> Messages("login.modal.password.placeholder"),
                                '_label -> Messages("login.modal.password.label")
                            )
                        </div>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-default" data-dismiss="modal">@Messages("modal.close.btn")
                    </a><button type="submit" class="btn btn-primary">@Messages("login.modal.login.btn")</button>
                </div>
            </div><!-- /.modal-content -->
        }
    </div><!-- /.modal-dialog -->
</div>
