.landing-slider-box {
  /*min-height: 455px;*/
  margin: 0 15px;
  /*background: url('../img/res/loader.gif') no-repeat center center;*/
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.landing-slider {
  /*display: none;*/
  color: #333333;
}
.landing-slider .flex-direction-nav a {
  height: 60px;
  top: 48%;
}
.landing-slider .slider-overlay {
  /* padding: @line-height-computed * 2 0;*/
}
.landing-slider .slider-overlay .slider-content-box {
  /*margin-right: -15px;*/
  padding: 20px 20px 30px 20px;
  margin-top: 60px;
  margin-right: 15px;
  background: #ffffff;
  background: transparent\9;
  background: rgba(255, 255, 255, 0.7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff,endColorstr=#99ffffff);
  zoom: 1;
}
.landing-slider .slider-overlay .slider-content-box:nth-child(n) {
  filter: none;
}
.landing-slider .slider-overlay img {
  display: block;
  max-width: 100%;
  height: auto;
  -webkit-box-shadow: 3px 4px 5px rgba(0,0,0,.16);
  box-shadow: 3px 4px 5px rgba(0,0,0,.16);
  margin-top: 25px;
}
.landing-slider .slider-overlay h2 {
  font-size: 56px;
  padding-top: 0;
}
.landing-slider .slider-overlay .lead,
.landing-slider .slider-overlay h2 {
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);
}
.flexslider {
  background: url('/cms/assets/frontend/img/theme/slides/slider-bg.jpg') repeat center;
}
.nav-main {
  position: inherit;
}
@media (max-width: 1200px) {
  .landing-slider .slider-overlay h2 {
    font-size: 40px;
  }
  .landing-slider .slider-overlay .slider-content-box {
    margin-right: 15px;
    margin-top: 60px;
  }
  .landing-slider .slider-overlay img {
    margin-top: 25px;
  }
}
@media (max-width: 768px) {
  .landing-slider .slider-overlay h2 {
    font-size: 18px;
  }
  .landing-slider .slider-overlay .lead {
    font-size: 14px;
  }
  .slider-img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0 !important;
    max-height: 300px !important;
    width: auto;
  }
  .slider-img-box {
    padding-top: 20px;
  }
  .slider-text {
    display: none;
  }
  .landing-slider .slider-overlay .slider-content-box {
    margin-right: 0;
    margin-top: 0px;
    text-align: center;
  }
  .slider-img-box-wrapper {
    padding: 0px;
    margin-top: 21px;
  }
  .slider-content-box {
    padding-top: 2px !important;
  }
  .editbar + .portlet-content .slider-img-box {
    margin-top: 0px;
    padding-top: 0px;
  }
  .editbar + .portlet-content .slider-img-box-wrapper {
    padding-top: 10px;
    margin-top: 0;
  }
  .editbar + .portlet-content .slider-content-box {
    padding-bottom: 15px !important;
    padding-top: 1 !important;
  }
}
@media (max-width: 480px) {
  .landing-slider .slider-overlay img {
    max-width: 200px;
    height: auto;
  }
  .slider-img-box-wrapper {
    margin-top: 36px;
  }
  .slider-img-box {
    padding-top: 35px;
  }
  .editbar + .portlet-content .slider-content-box {
    padding-bottom: 27px !important;
  }
  .editbar + .portlet-content .slider-img-box-wrapper {
    padding-top: 0px;
    margin-top: 10px;
  }
  .editbar + .portlet-content .slider-img-box {
    margin-top: 22px;
  }
}
