@(title: String="", backUrl: String = "")
@import play.api.i18n.Messages;
@import ch.insign.cms.controllers
@import ch.insign.cms.models.CMS
@import java.util.Calendar

@container("login") {
    <link href="@{views.html.metronic.tags._asset("css/pages/login.css")}" rel="stylesheet" type="text/css"/>
} {
    @* TODO USE THE REAL LOGO *@
    <div class="logo">
        @title
    </div>
    <div class="content">
    @helper.form(CMS.getRouteResolver.login(), 'id -> "admin-login-form") {
        <h3 class="form-title">@Messages("admin.login.title")</h3>
        <div id="login-error" class="alert alert-danger hide">
            <span>@Messages("admin.login.error.msg")</span>
        </div>
        <div id="group-email" class="form-group">
            <label class="control-label visible-ie8 visible-ie9">@Messages("admin.login.email.label")</label>
            <div class="input-icon">
                <i class="fa fa-user"></i>
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="@Messages("admin.login.email.placeholder")" name="email"/>
            </div>
            <div id="help-email" class="help-block hide">
                    &nbsp;
            </div>
        </div>
        <div id="group-password" class="form-group">
            <label class="control-label visible-ie8 visible-ie9">@Messages("admin.login.password.label")</label>
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="@Messages("admin.login.password.placeholder")" name="password"/>
            </div>
            <div id="help-password" class="help-block hide">
                    &nbsp;
            </div>
        </div>
        <div class="form-actions">
            <label class="checkbox-inline">
                <input type="checkbox" name="rememberMe" value="1"/>&nbsp;<span>@Messages("admin.login.remember.me.label")</span>
            </label>
            <button type="submit" class="btn green pull-right">
            @Messages("admin.login.btn.login")
            </button>
        </div>
        <div class="copyright">
            @Calendar.getInstance().get(Calendar.YEAR)
                &copy; @title
        </div>
        @if(null != backUrl && backUrl.length > 0) {
            <input type="hidden" name="backUrl" value="@backUrl"/>
        }
    }
    </div>


} {
    <script src="@{ch.insign.cms.views.html.tags._asset("frontend/js/jquery.form.min.js")}" type="text/javascript"></script>
    <script src="@{ch.insign.cms.views.html.tags._asset("backend/js/admin-login-form.js")}" type="text/javascript"></script>
}
