@(subPage: ch.insign.cms.models.PageBlock)

@import ch.insign.cms.controllers
@import ch.insign.cms.models.Template
@import ch.insign.cms.blocks.groupingblock.GroupingBlock
@import helper._

<li class="dd-item" data-id="@subPage.getId">
    <div class="dd-handle">

        @if(Template.hasAccessRestriction(subPage) || !Template.isVisible(subPage)) {
            <i class="fa fa-eye state-restricted" title="@Messages("page.option.access.restricted")"></i>
        }

        @Template.hasTimeRestriction(subPage) match {
            case Template.TR.PAST => {<i class="fa fa-time state-inactive" title="@Messages("page.option.time.past")"></i>}
            case Template.TR.PRESENT => {<i class="fa fa-time state-active" title="@Messages("page.option.time.present")"></i>}
            case Template.TR.FUTURE => {<i class="fa fa-time state-future" title="@Messages("page.option.time.future")"></i>}
            case Template.TR.NONE => {}
        }

        @if(Template.isInstanceOf(subPage, classOf[GroupingBlock])){<b>}
        @subPage.getNavTitle
        @if(Template.isInstanceOf(subPage, classOf[GroupingBlock])){</b>}
        @if(subPage.getKey!=null){<span class="text-muted">[@subPage.getKey]</span>}

    </div>
    <div class="nestable-list-actions">
        @if(!Template.isInstanceOf(subPage, classOf[GroupingBlock])) {
            @if(subPage.canRead) {
                <a href="@subPage.getNavItem.getURL" target="_blank" title="Seite anzeigen">
                    <i class="fa fa-eye"></i>
                </a>
            } else {
                <i class="fa-eye .fa-eye-disabled" title="@Messages("cms.block.permissions.no_accsses.label")"></i>
            }
        }

        @if(subPage.canModify) {
            @if(subPage.getAllowedSubBlocks.size > 0) {
                <a title="@Messages("cms.navigation.entry.add")" href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-plus"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                @for(blockClass <- subPage.getAllowedSubBlocks()) {
                    <li>
                        <a href="@controllers.routes.BlockController.create(blockClass.getCanonicalName, subPage.getId, request.path)">@Template.blockDisplayName(blockClass)</a>
                    </li>
                }
                </ul>
            }
        } else {
            <i class="fa fa-plus fa fa-plus-disabled"  title="@Messages("cms.block.permissions.no_accsses.label")"></i>
        }

        @if(subPage.canModify) {
            <a title="@Messages("cms.navigation.entry.edit")" href="@controllers.routes.BlockController.edit(subPage.getId, request.path)"><i class="fa fa-edit"></i></a>
            @form(controllers.routes.BlockController.delete(subPage.getId, request.path),  'style -> "display:inline;", 'id -> ("delete-block-form-" + subPage.getId)) {
                <a title="@Messages("cms.navigation.entry.delete")" href="#" class="deleteBlock" data-deleted-block-name="@subPage.getNavTitle"><i class="fa fa-trash"></i></a>
            }
        } else {
            <i class="fa fa-edit fa-edit-disabled" title="@Messages("cms.block.permissions.no_accsses.label")"></i>
            <i class="fa fa-trash fa-trash-disabled" title="@Messages("cms.block.permissions.no_accsses.label")"></i>
        }
    </div>
@* Note: Do not add the closing </li> here - it's added by _navigationOverviewTree *@

