@(
        a: ch.insign.cms.views.admin.utils.AdminContext,
        userForm: Form[_],
        user: ch.insign.playauth.party.support.DefaultParty,
        extraMenuItems: Html=Html.apply(""))(extension: Html=Html.apply(""))

@import helper.{options, inputPassword}
@import ch.insign.cms.views.html.helpers.mstring
@import helper._
@import ch.insign.cms.views.html.admin.shared.layout
@import ch.insign.cms.views.cms.templateCmsHorizontalAdminConstructor
@import play.api.i18n.Messages;
@import ch.insign.commons.i18n.Language
@import ch.insign.cms.views.html.helpers.formKey
@import ch.insign.cms.views.html.helpers.formKeyAdditional
@import ch.insign.cms.models.CMS
@import ch.insign.cms.views.html.admin.party.userEditPage
@import ch.insign.cms.models.CustomerEmailTemplate
@import ch.insign.cms.controllers.CmsContext
@import ch.insign.playauth.views.helper._
@import ch.insign.playauth.permissions._
@import ch.insign.cms.controllers.PartyController

@util.Javascript.add {
    <script>
            mstring.init ( " @Option(CmsContext.current).map(_.getLanguage).filter(_.nonEmpty).getOrElse(Language.getDefaultLanguage) ");
    </script>
}

@userEditPage(a, user, extraMenuItems) {
    @defining(PartyController.getCustomerEmailTemplateForm) { emailForm =>
        @hasPermission(PartyPermission.BROWSE(user)) {
            <div id="tab_1-1" class="tab-pane active">
                <div id="user-tab">
                    @form(CMS.getRouteResolver.updateParty(user.getId), 'class -> "form-horizontal", 'id -> "frm-edit-user") {
                        @formKey()
                        @formKeyAdditional("customerEmailTemplates[].id")

                        <fieldset>
                            <div class="form-group">
                            @inputText(
                                userForm("name"),
                                'class -> "form-control",
                                'placeholder -> Messages("backend.user.name"),
                                '_label -> Messages("backend.user.name")
                            )
                            </div>

                            <div class="form-group">
                            @inputText(
                                userForm("email"),
                                'class -> "form-control",
                                'placeholder -> Messages("backend.user.email"),
                                '_label -> Messages("backend.user.email")
                            )
                            </div>

                            @ch.insign.cms.views.html.admin.customerEmailTemplate.customerEmailTemplateList(CustomerEmailTemplate.getEmailTemplatesEditFrom, emailForm)

                            @extension

                            @hasPermission(PartyPermission.EDIT(user)) {
                                <div class="form-actions fluid">
                                    <div class="col-lg-offset-3 col-md-offset-4 col-sm-offset-4 col-lg-9 col-md-8 col-sm-8">
                                        <button type="submit" class="btn red">@Messages("btn.save")</button>
                                        <a href="@CMS.getRouteResolver.listParties" class="btn default">@Messages("backend.btn.cancel")</a>
                                    </div>
                                </div>
                            }
                        </fieldset>
                    }

                </div>
            </div>
        }
    }
}