@()


@import ch.insign.cms.views.html.admin.shared.layout
@import ch.insign.cms.models.CMS
@import ch.insign.playauth.party.Party
@import ch.insign.playauth.party.support.DefaultParty
@import ch.insign.cms.views.admin.utils.AdminContext

@pageFooter = {
    <script src="@ch.insign.cms.controllers.routes.JsController.javascriptTranslations(
        "backend.datatables.user.search.possible.terms"
    )" type="text/javascript"></script>
    <script src="@{ch.insign.cms.controllers.routes.Assets.versioned("backend/js/user_list.js")}" type="text/javascript"></script>
}

@layout(new ch.insign.cms.views.admin.utils.AdminContext, "", "", null, pageFooter) {
    <input type="hidden" id="datatableUrl" value="@ch.insign.cms.controllers.routes.PartyController.datatable()" name="datatableUrl"/>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet">

                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-user"></i> @Messages("backend.user.customer.title")
                    </div>

                    <div class="actions">
                        <a href="@CMS.getRouteResolver.createParty()" class="btn red">
                            <i class="fa fa-plus"></i> @Messages("backend.newEntry.button")
                        </a>
                    </div>
                </div>

                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="user_list">
                        <thead>
                            <tr>
                                <th>@Messages("backend.user.name")</th>
                                <th>@Messages("backend.user.email")</th>
                                <th>@Messages("backend.user.roles")</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

}