@import ch.insign.playauth.party.support.DefaultParty
@import ch.insign.cms.views.admin.utils.AdminContext

@(party: DefaultParty, extraMenuItems: Html=Html.apply(""))

@userEditPage(new AdminContext, party, extraMenuItems) {
    <form class="form-horizontal" role="form">
        <div class="form-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-3">@Messages("backend.user.name")</label>
                        <div class="col-md-9">
                            <p class="form-control-static">@party.getName</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-3">@Messages("backend.user.email")</label>
                        <div class="col-md-9">
                            <p class="form-control-static">
                                <a href="mailto:@party.getEmail">@party.getEmail</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="form-section">@Messages("backend.user.info")</h3>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-3">@Messages("backend.user.roles")</label>
                        <div class="col-md-9">
                            <p class="form-control-static">
                            @Html(party.getRoles.map(r => r.toString).mkString("<br>"))
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}