@import ch.insign.cms.models.CMS
@(emailTemplateForm: Form[_ <: ch.insign.cms.models.EmailTemplate], emailTemplate : ch.insign.cms.models.EmailTemplate)(extension: Html=Html.apply(""))

@import play.api.i18n.Messages
@import ch.insign.cms.views.html.admin.shared.layout
@import ch.insign.cms.views.html.helpers.mstring
@import ch.insign.cms.views.html.helpers.mstringTextarea
@import ch.insign.cms.views.html.helpers.mstringHtmlView
@import ch.insign.cms.views.admin.utils.AdminContext
@import ch.insign.cms.views.html.mstringFormFrontend
@import ch.insign.cms.models.EmailTemplate
@import ch.insign.cms.models.CustomerEmailTemplate
@import ch.insign.cms.views.html.helpers.formKey
@import ch.insign.playauth.views.helper._
@import ch.insign.cms.permissions.EmailTemplatePermission
@import helper.options
@import metronic.text

@title = @{
    emailTemplate match {
        case _: CustomerEmailTemplate =>
            Messages("backend.customer.user.emailTemplate.edit.title")
        case _ =>
            Messages("backend.mail.templates.title")
    }
}

@formCall(templateId: String) = @{
    emailTemplate match {
        case _: CustomerEmailTemplate =>
            ch.insign.cms.controllers.routes.CustomerEmailTemplateController.doEdit(templateId)
        case _ =>
            ch.insign.cms.controllers.routes.EmailTemplateController.doEdit(templateId)
    }
}

@listCall = @{
    emailTemplate match {
        case _: CustomerEmailTemplate =>
            ch.insign.cms.controllers.routes.CustomerEmailTemplateController.list()
        case _ =>
            ch.insign.cms.controllers.routes.EmailTemplateController.listForCurrentSite()
    }
}

@*
* Template for editing existing EmailTemplate
*@
@layout(new AdminContext(), "", "", null, null) {
    <div class="row">
        <div class="col-md-12">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i> @title (@emailTemplate.getTemplateKey)
                    </div>
                </div>
                <div class="portlet-body email-template-form">

                    @mstringFormFrontend(formCall(emailTemplate.getId), 'class -> "form-horizontal") {

                        @formKey("_templates*")

                        <input type="hidden" name="id" value="@emailTemplate.getId"/>

                        <fieldset @lacksPermission(EmailTemplatePermission.EDIT) { disabled="disabled" }>
                            <div class="form-body">
                                @defining(emailTemplateForm("templateKey")) { field =>
                                    <input type="hidden" name="@field.name" value="@field.value">
                                }

                                @metronic.select(
                                    emailTemplateForm,
                                    "category",
                                    Messages("backend.user.email.category.label"),
                                    options(EmailTemplate.EmailTemplateCategory.options())
                                )

                                @text(
                                    emailTemplateForm,
                                    "sender",
                                    Messages("backend.user.email.sender.label"),
                                    ""
                                )

                                @text(
                                    emailTemplateForm,
                                    "replyTo",
                                    Messages("backend.user.email.replyTo.label"),
                                    ""
                                )

                                @text(
                                    emailTemplateForm,
                                    "bcc",
                                    Messages("backend.user.email.bcc.label"),
                                    ""
                                )

                                <fieldset @lacksPermission(EmailTemplatePermission.EDIT_DESCRIPTION(emailTemplate)) { disabled="disabled"}>
                                    @mstring(
                                        emailTemplate.getDescription,
                                        emailTemplateForm,
                                        "description",
                                        Messages("backend.mail.templates.header.description"),
                                        ""
                                    )
                                </fieldset>

                                @mstring(
                                    emailTemplate.getSubject,
                                    emailTemplateForm,
                                    "subject",
                                    Messages("backend.user.email.subject.label"),
                                    Messages("backend.mail.templates.subject.placeholder")
                                )

                                @mstringTextarea(
                                    emailTemplate.getContent,
                                    emailTemplateForm,
                                    "content",
                                    Messages("backend.user.email.content.label"),
                                    "",
                                    "",
                                    ""
                                )

                                @mstringHtmlView(
                                    emailTemplate.getContent,
                                    Messages("backend.user.email.content.preview.label")
                                )

                                @extension

                            </div>
                        </fieldset>

                        <div class="form-actions fluid">
                            <div class="col-md-offset-3 col-md-8">
                                <button type="submit"  @lacksPermission(EmailTemplatePermission.EDIT) {disabled="disabled"} class="btn red">@Messages("backend.btn.save")</button>
                                <a href="@listCall" class="btn default">@Messages("backend.btn.cancel")</a>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
}

