@(a: ch.insign.cms.views.admin.utils.AdminContext, roleList: java.util.List[ch.insign.playauth.party.PartyRole])

@import ch.insign.cms.views.html.admin.shared.layout
@import ch.insign.cms.controllers.routes

@layout(a){
    <div class="row">
        <div class="col-md-12">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa--group"></i>@Messages("backend.roles.title") <span class="badge badge-default">@roleList.size</span>
                    </div>
                    <div class="actions">
                        <a href="@routes.RoleController.add()" id="create_new_role" class="btn red">
                            <i class="fa fa-plus"></i> @Messages("backend.newEntry.button")
                        </a>
                    </div>
                </div>

                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover table-advance" id="role_list">
                        <thead>
                            <tr>
                                <th>@Messages("Name")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @roleList.map { role =>
                                <tr class="odd gradeX">
                                    <td>
                                        <a href="@routes.RoleController.edit(role.getId)">@role.getName</a>
                                        <span class="pull-right">
                                            <a title="@Messages("block.edit.label")" href="@routes.RoleController.edit(role.getId)">
                                                <i class="fa fa-edit"></i>
                                            </a>&nbsp;
                                            <a title="@Messages("backend.label.delete")" href="#confirm-delete-@role.getId" role="button" data-toggle="modal">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @roleList.map { role =>
                        <div id="confirm-delete-@role.getId" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">@Messages("backend.roles.modal.delete.title")</h4>
                            </div>
                            <div class="modal-body">
                                <p>@Messages("backend.roles.modal.delete.content", role.getName)</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn default" data-dismiss="modal" aria-hidden="true">@Messages("modal.btn.cancel")</button>
                                <a href="@{routes.RoleController.delete(role.getId)}" class="btn red">@Messages("modal.btn.delete")</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

